.ProfileCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border: solid 1px black;
    margin: 0 auto;
    max-width: 1400px;
}

.Title {
    text-align: center;
    font-size: 4rem;
}