.profile_card {
    border-radius: 25px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    height: 650px;
    transition: all 0.3s;
    overflow: hidden;
    width: 480px;
}

.info {
    padding: 14px;
}

.image {
    width: 100%;
    height: 45%;
    border-radius: 25px 25px 0px 0px;
    transition: transform 0.5s ;
    object-fit: contain;
    object-position: top;
}

.profile_card:hover .image{
    transform: scale(1.1);
}

.profile_card:hover {
    transform: translateY(-8px);
}

.link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.link:hover {
    color: blue;
}
