.logo {
    width: 200px;
}

.navbar-container {
    display: flex;
    justify-content: center;
}

.navbar-items a{
    margin-right: 30px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.navbar-items a:hover {
    color: rgb(75, 138, 227);
}